.best {
    &-main {
        position: relative;
        background-image: url(../image/banner/Rectangle.png);
        width: 100%;
        min-height: 39rem;
        background-size: cover;
        margin-bottom: 29.6rem;
        &__list {
            position: absolute;
            top: 7rem;
            left: 7rem;
            max-width: 93rem;

            .product {
                padding: 2rem;
                max-width: 29rem - 4rem;
            }
        }
    }
}