.feature, .new {
    &-main {
        width: 100%;

        .list-product {
            .product {
                padding: 1rem 1rem 0 1rem;
                max-width: 31.5rem - 2rem;
            }
        }
    }
}

@media only screen and (max-width: 1441px) {
    .new {
        display: none;
    }
}