.title {
    text-align: center;
    min-height: 9rem;
    margin: 0 0 5rem 0;

    &-main {
        margin: 0 0 1rem 0;

        h1 {
            .set-font(@EB-Garamond, 5rem, 500, @brown-color);
            margin: 0;
            padding: 2rem 0;
            white-space: nowrap;
            line-height: 150%
        }
    }

    &-second {
        p {
            .set-font(@Montserrat, 1.6rem, 400, @black-blue-color);
            line-height: 160%;
            letter-spacing: 1px;
            padding: 0;
            text-transform: uppercase;
            // white-space: nowrap;
        }
    }
}

.content {
    p {
        .set-font(@Montserrat, 1.6rem, 400, @black-blue-color);
        padding: 0;
        margin: 0 0 1.5rem 0;
        line-height: 140%;
        text-align: justify;
        width: 43rem;
        padding-left: 11.5rem;

    }
}

.link {
    .set-flex-center;
    gap: 0 0.6rem;

    #Arrow_Down_LG {
        .set-icon(20px, @brown-color, 2)
    }

    p {
        .set-font (@Montserrat, 1.4rem, 500, @brown-color);
        letter-spacing: 0.2rem;
        text-transform: uppercase;
    }
}

.tablet-title {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 6rem;

    h1 {
        .set-font (@TheSans, 3rem, 500, @black-blue-color);
        position: relative;
        line-height: 150%;

        &::after,  &::before {
            position: absolute;
            content: "";
            width: 5rem;
            height: 1px;
            border-top: 1px solid @black-blue-color;
            top: 50%;
            transform: translate(0, -50%);
        }
    
        &::after{
            right: -6rem;
        }
    
        &::before {
            left: -6rem;
        }
    }
}